{% extends 'aggregator/base.html' %}
{% load static %}
{%block content%}
{% if request.user.id != post.user_id %}
<div class="container post-content">
    <h3>{{post.title}}</h3>
    {% if post.media_set.all.0.photo %}
    <div>
        <img src="{{post.media_set.all.0.photo.url}}" style="width:200px;height:150px;">
    </div>
    {% else %}
    <div>
        <img src="{% static "aggregator/no-image-icon.png" %}" style="width:200px;height:150px;">
    </div>
    {% endif %}
    <h4>Price: {{post.price}}$</h4>
    <h5>City: {{post.city}}</h5>
    <hr>
    <h5>Category: {{post.category}}</h5>
    <h5>Subcategory: {{post.subcategory}}</h5>
    <hr>
    <h6>User: {{post.user.username}}</h6>
    <h6>Phone: {{post.user.profile.phone_number}}</h6>
    <h6>Email: {{post.user.email}}</h6>
    <hr>
    <h6>Description:</h6>
    {{post.description}}
</div>
{% else %}
<h3 class="post-info-1">This is your post.</h3>
<h4 class="post-info">You can edit or delete it</h4>
{% if post.media_set.all.0.photo %}
<div class="container post-content">
    <div class="own-image">
        <img src="{{post.media_set.all.0.photo.url}}" style="width:200px;height:150px;">
    </div>
    {% else %}
    <div class="own-image">
        <img src="{% static "aggregator/no-image-icon.png" %}" style="width:200px;height:150px;">
    </div>
    {% endif %}
    <form method="POST" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_form.as_p }}
        <button type="submit" class="btn btn-success">Edit</button>
        <a class='btn btn-danger' href="{% url 'delete_post' post_id=post.id %}">Delete</a>
    </form>
</div>
{% endif %}

{%endblock%}
