{% extends 'aggregator/base.html' %}

{% block content %}
<div class="container">
    <h2>About web-site</h2>
    <p class="lead">
        Hi and welcome to craigav!
    </p>
    <p> I made this project to demonstrate my skills in Django and Bootstrap.
        Basically this is the clone of Russian classified advertisements web-service <a href="https://avito.ru">Avito</a>
        or American <a href="http://www.craigslist.org/">Craiglist</a>. I am extremely interested in the employment abroad at the moment, so
        if you are interested in me as a potential employee please feel free to contact me via 
        <a href="https://t.me/serg_serg228">telegram</a>, <a href="https://wa.me/+79205593910">whatsapp</a>, 
        <a href="https://www.linkedin.com/in/sergey-koltunov-71a2971b0">linkedid</a> or my Georgian phone number: +995 551 30 62 49 (this is 
        probably going to be expensive though 😅 ).
    </p>
    <p>
        My other projects can be found on <a href="https://github.com/dogbusiness">github</a>. I also recommend seeing
        my <a href="https://github.com/dogbusiness/100-days-portfolio/tree/main/day88_to_do_list">to-do list</a> project as it demonstrates skills in Flask. 
        You can find my resume by clicking linkedin link. You are more than welcome to ask any questions by contacting me with the links above.
        I guess if I host some of my projects online I'll be adding links in "bio" on github profile and linkedin.
    </p>
    <p>
        Thank you for visiting web-site and I really hope you like it.
    </p>
    <p>Have a great day!</p>
</div>
{% endblock %}