{% extends 'aggregator/base.html' %}

{%block content%}
    <h2>Landing Page</h2>
{% if user.is_authenticated %}
    <h4>Hi {{ user.username }}!</h4>
    <a class='btn btn-success' href="{% url 'user_logout' %}">Log Out</a>
{% else %}
    <h4>You are not logged in</h4>
    <div class="d-flex">
        <a class='btn btn-success' href="{% url 'user_login' %}">Log In</a>
        <h5 style="margin-left: 5px;">or</h5>
        <a style="margin-left: 5px;" class='btn btn-success' href="{% url 'user_register' %}">Register</a>
    </div>
{% endif %}
<div class="container">
    <div class="row">
        {% for post in page %}
            <div class="col">
                <div>
                    <p>*Kartinochka*</p>
                </div>
                <div>
                    <h4>{{ post.title|upper }}</h4>
                </div>
                <div>
                    <h5>{{post.price}}$</h5>
                </div>
                <div>
                    <h6>{{post.city}}</h6>
                </div>
            </div>    
        {% endfor %}
    </div>
</div>

<div class="pagination container justify-content-center" style="border: 1px; border-color: aqua; text-align: center;">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ page.previous_page_number }}">&lsaquo;</a>
        {% endif %}

        <span class="current">
            {{page.number}}
        </span>
        
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a>
            <a href="?page={{ page.next_page_number }}">&rsaquo;</a>
            <a href="?page={{ page.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
</div>
{%endblock%}