{% extends 'aggregator/base.html' %}
{% load static %}
{%block content%}
{% if request.user.id != post.user_id %}
<h3>{{post.title}}</h3>
{% if post.media_set.all.0.photo %}
<div>
    <img src="{{post.media_set.all.0.photo.url}}" style="width:200px;height:150px;">
</div>
{% else %}
<div>
    <img src="{% static "aggregator/no-image-icon.png" %}" style="width:200px;height:150px;">
</div>
{% endif %}
<h4>{{post.price}}$</h4>
<h5>{{post.city}}</h5>
<hr>
<h5>Category: {{post.category}}</h5>
<h5>Subcategory: {{post.subcategory}}</h5>
<hr>
<h6>User: {{post.user.username}}</h6>
<h6>Phone: {{post.user.profile.phone_number}}</h6>
<h6>Email: {{post.user.email}}</h6>
<hr>
{{post.description}}
{% else %}
<h3>This is your post.</h3> 
<h4>You can edit or delete it</h4>
{% if post.media_set.all.0.photo %}
<div>
    <img src="{{post.media_set.all.0.photo.url}}" style="width:200px;height:150px;">
</div>
{% else %}
<div>
    <img src="{% static "aggregator/no-image-icon.png" %}" style="width:200px;height:150px;">
</div>
{% endif %}
<form method="POST" class="form-group" enctype="multipart/form-data">
    {% csrf_token %}
    {{ post_form.as_p }}
    <button type="submit" class="btn btn-success">Edit</button>
    <a class='btn btn-danger' href="{% url 'delete_post' post_id=post.id %}">Delete</a>
</form>
{% endif %}

{%endblock%}